---
layout: base.njk
title: Profiles
---


<ul>
    {% for profile in profiles.all -%}
    <li><p><a href="/profiles/{{ profile.name | slug }}/" >{{ profile.name }}</a></p></li>
    {% endfor -%}
</ul>
